@font-face {
  font-family: 'Andalus';
  src: url('/Andalus.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f0f2f5;
  direction: rtl;
}
